{{title}}<br>
<pre>
  {{ duration |json }}
  {{ volume |json }}
</pre>

<div ytPlayer
  style="height:800px;"
  [videoId]="videoId"
  [(volume)]="volume"
  [autoPlay]="true"
  [loop]="false"
  [showFullScreenButton]="true"
  [showControls]="true"
  [enableKB]="true"
  (stateChange)="eventChange($event)"
  (currentTimeChange)="updateCurrentTime($event)"
  (durationChange)="duration=$event"
  ></div>
